@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    html, body{
        background-image: linear-gradient(to bottom, #4c2368, #4c919a);
    }
   section{
    display: flex;
    height: 290px;
    width: 80vw;
    padding: 0px;
   } 

   div#imagem{
    
    width: 30%;
    height: 290px;
    
   }

   div#login{
    width: 70%;
    
   }
}

@media screen and (min-width: 992px) {
    
    html, body{
        background-image: linear-gradient(to bottom, #4c2368, #4c919a);
    }

    section{
    height: 350px;
    width: 950px;
    padding: 0px;
    margin: 0px;
   } 
    
   div#imagem{
    float: right;
    width: 50%;
    height: 100%;
    
    
   }
    
   div#login{
    display: block;
    float: left;
    width: 50%;

   }

   h1{
    font-size: 2.2em;
   }

   div#login p{
    font-size: 1em;
    margin-bottom: 20px;
   }
}