@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
}

body,html{
    width: 100vw;
    height: 100vh;
    background-color: #4c2368;
    display: flex;
    justify-content: center;
    align-items: center;

}

section {
    width: 300px;
    padding-bottom: 10px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.336);
    overflow: hidden;
    transition: width .3s, heigth .3s;
    transition-timing-function: ease ;
}

h1{
    text-align: center;
    padding: 10px;
    font-size: 1.5em;
    font-weight: bolder;
}

div#imagem {
    display: block;
    width: 100%;
    height: 200px;
    background-color: #4c2368;
    background-image: url('../imagens/imagem1.jpg');
    background-size: cover;
}

div#login p {
    padding: 0px 10px 10px 10px ;
    font-size: 0.8em;
}

.campo{
    display: flex;
    margin: auto;
    width: 90%;
    border: 2px solid #6f3398;
    box-sizing: border-box;
    margin-bottom: 4px;
    border-radius: 10px;
    background-color: #4c2368;
    align-items: center;
}

#email{
    background-color: #94cfcd;
    border-radius: 8px;
    height: 38px;
    width: 100%;
    border: none;
    
    
}

#email:focus-within{
    background-color: white;
    border: none;
}

#senha{
   background-color: #94cfcd;
    border-radius: 8px;
    height: 38px;
    width: 100%;
    border: none;
}

#senha:focus-within{
    background-color: white;
    border: none;
}

#pessoa{
    color: white;
    font-size: 30px;
    padding: 5px;
    
}

#chave {
    color: white;
    font-size: 30px;
    padding: 5px
}

#entrar{
    display: block;
    margin: auto;
    
    width: 90%;
    background-color: #5aaca9;
    color: white;
    height: 43px;
    border-radius: 10px;
    border: none;
}

#entrar:hover{
    background-color: #2d6462;
}

#esqueci{
    display: block;
    margin: auto;
    padding-top: 7px;
    margin-top: 4px;
    text-decoration: none;
    text-align: center;
    width: 90%;
    background-color: white;
    color: #346360;
    border: 1px solid #346360;
    height: 43px;
    border-radius: 10px;
    box-sizing: border-box;
}

#esqueci:hover{
    background-color: #6cd3cf;
}

#mail{
    font-size: 12px;
    color: #346360;
}